.flash {
	text-align: center;
	color:green;
	border-bottom:1px solid green;
	background-color:#ffffff;
	opacity:0.8;
	font-weight:bold;
	font-size:18px;
	position: fixed;
	z-index:500;
	
	margin:auto;
	padding:100px 20px 20px 20px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.flash_notice {
	color:green;
	border:1px solid green;
}
.flash_error {
	color:red;
	border:1px solid red;
}
label {
	min-width: 150px;
}
a {
	color: none !important;
	text-decoration: none !important;
}
.admin-contacts {
	border:1px solid #cccccc;
	border-radius:5px;
	
}
.admin-contacts-header-row {
	background-color:#c0c0c0;
	border-bottom: 3px solid #cccccc;
}
.admin-contacts-body-row {
	border-bottom: 1px solid #cccccc;	
}
.col-body {
	border-right: 1px solid #cccccc;
}
.action {
	color:#ffffff;
	padding:5px;
}
.edit-action {
	background-color: lightblue;
}
.delete-action {
	background-color: orangered;
}
.add-action {
	background-color: green;	
}