.review-score-9 {
	background-color:#57bb8a;
}
.review-score-8 {
	background-color:#84bb7b;
}
.review-score-7 {
	background-color:#b0be6e;
}
.review-score-6 {
	background-color:#d4c86a;
}
.review-score-5 {
	background-color:#f5ce62;
}
.review-score-4 {
	background-color:#e9b861;
}
.review-score-3 {
	background-color:#ecac67;
}
.review-score-2 {
	background-color:#e79a69;
}
.review-score-1 {
	background-color:#e2886c;
}
.review-score-0 {
	background-color:#dd776e;
}