body {
	margin:0px;
	padding: 0px;	
}
footer {
	background-color:#303030;
}
.empty-content {
	height: 80%;
}
.backgr-img {
	height:750px;
	width:100vw;
	position:absolute;
	top:0;
	background-image: url('/webroot/img/201217.jpg');
	background-repeat: no-repeat;
	z-index: -1;
}
.layer {
    background-color: #696969;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.layer-put {
	background-color: #000000;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
}
i {
	cursor:pointer;
}
h1,h2 {
	text-align:center;
}
table {
	
	margin:auto;
}
tr {
	border-bottom:1px solid #cccccc;
}
td {
	border-right:1px solid #cccccc;
	padding:5px;
}
.altrow {
	background-color: #cccccc;
}
fieldset {
	display: block;
	margin:auto;
	text-align: center;
}
input {
	width:200px;
}
.action_delete {
	color:red;
	font-weight: bold;
}
.action_edit {
	color:blue;
	font-weight: bold;
}
.container {
	width:80vw;
}
.container-fluid {
	width:60vw !important;
	background: transparent;
	z-index: 200;
}
.content-join {
	background-image: url('/img/join-image.jpg');
	color:#ffffff;
	width:100vw;
	display: inline-block;
}
.margins-container {
	margin-top:50px;
	margin-bottom:50px;
}
.join-title {
	font-size:28px;
	font-weight: bold;
}
.join-content {
	font-size:16px;
}
.join-content-line {
	border-bottom:1px solid #ffffff;
	margin-left:0;
	margin-top:10px;
	margin-bottom:10px;
	width:30px;
}
.join-people-line {
	border-bottom:1px solid #DB7093;
	margin-left:0;
	margin-top:10px;
	margin-bottom:10px;
	width:30px;	
}
.top-px {
	margin-top:16px;
	font-size: 18px !important;
}
.bordered-reg {
	float: right;
	border: 2px solid #ffffff;
	border-radius: 30px;
	width: 200px;
	height: 60px;
	text-align: center;
}
.people-title {
	color:#ffffff;
	font-size:26px;
	font-weight: bold;
}
.people-content {
	font-size:18px !important;
}
.grey-color {
	color:grey;
	font-size:12px;
}
.margin-top-40 {
	margin-top:40px;
}
.text-left {
	text-align: left;
}
.margins-container-people {
	text-align: center;
}
.content-people {
    background: url('/img/cliff.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bordered-col {
	background: linear-gradient(to bottom, #ffffff 78%, transparent 0);
	border-radius:5px;
	margin:20px;
	background-size: 20px;
}
.testimonial-logo {
	color:#DB7093;
	font-size:30px;
	margin-top:20px;
	margin-bottom:20px;
}
.testimonial-content {
	margin-bottom:80px;
	color:grey;
	font-weight: 200;
	margin-left:10px;
	margin-right:10px;
}
.user-name {
	color :#ffffff;
}
.user-image {
	width:100px;
	border-radius:50%;	
}
.flex {
	display: inline-flex !important;
}
.info-sizes {
	font-size:30px !important;
	font-weight:bold !important;
}
.info-content {
	background-color:#303030; 
}
.info-text-format {
	margin-left:40px;
	font-size:16px;
	margin-top:5px;
}
.new-places-container {
	width:80vw;
	margin:auto;
}
.title-width {
	margin-left: 10% !important;
}
.new-places-title {
	margin-top:250px;
	font-size:24px;
	font-weight: bold;
	margin-left:10px;
}
.new-places-info {
	font-size:18px;
	margin-bottom: 20px;
}
.picture-set {
	margin:20px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width: 600px;
}
.top-px-9 {
	margin-top:9px;
}
.join-people-title {
	font-size:26px;
	font-weight:bold;
}
.join-people-content {
	color:grey;
	font-size:18px;
}
.pink-color {
	border-bottom: 1px solid #DB7093 !important;
}
.pink-review-mark {
	background-color: #DB7093 !important;	
}
.fa-heart {
	color:#ffffff;
	margin-left:250px;
	font-size:30px;
	margin-right:30px;
	margin-top:20px;
}
.review-mark {
	margin-top:200px;
	margin-left:20px;
	margin-bottom:20px;
	margin-right:250px;
	text-align: center;
	background-color:green;
	color:#ffffff;
	border-radius:5px;
}
.review-mark-events {
	margin-top:200px;
	margin-left:20px;
	margin-bottom:20px;
	margin-right:225px;
	text-align: center;
	background-color:#DB7093;
	color:#ffffff;
	border-radius:5px;
}
.flex-event {
	color: green !important;
	display: inline-flex !important;
}
.event-time {
	margin-left:5px;
}
.review-content {
	width: 90%;
}
.align-center {
	text-align: center;
}
.test-icon {
	color:red;
	font-size:40px !important;
	margin-top:20px;
}
.testimonial-title {
	font-size:18px;
	font-weight: bold;
	margin-top:20px;
}
.test-content {
	margin-top:20px;
}
.container-top {
	text-align: center;
	color:#fff;
	margin-top: 5vw;
	width: 50vw !important;
}
.input-top {
	border-radius: 20px 0 0 20px !important;
}
.select-top {
	border-radius: 0 20px 20px 0 !important;
}
.colon-flex {
	//display: inline-flex;
}
.search-top {
	margin-left:5px;
}
.col-xs-6, .col-md-3, .col-md-5 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.row-top {
	margin-top:40px;
}
.join-title-top {
	font-size:52px;
	font-weight: bold;
}
.join-content-top {
	font-size:18px;
	font-weight:bold;
}