h1,h2 {
	text-align:center;
}
table {
	
	margin:auto;
}
tr {
	border-bottom:1px solid #cccccc;
}
td {
	border-right:1px solid #cccccc;
	padding:5px;
}
.altrow {
	background-color: #cccccc;
}
fieldset {
	display: block;
	margin:auto;
	text-align: center;
}
input {
	width:200px;
}
.action_delete {
	color:red;
	font-weight: bold;
}
.action_edit {
	color:blue;
	font-weight: bold;
}